table.papertable {
    border: none;
}

table.papertable td {
    border: none;
    text-align: left;
    padding: 15px;
}

table.papertable td.img {
    width: 150px;
}

table.papertable img {
    width: 150px;
}

span.summary {
    /*font-family: Times;*/
    font-size: 100%;
    color:  #808080;
}

span.papertitle {
    font-size: 100%;
    /*font-family: Georgia, serif;*/
    font-weight: bold;
}

span.authors {
    font-size: 80%;
    /*font-family: Georgia, serif;*/
}

span.meeting {
    font-size: 80%;
    /*font-family: Georgia, serif;*/
    font-style: italic;
}

span.year {
    font-size: 80%;
    /*font-family: Georgia, serif;*/
}

span.capt {
    font-size: 80%;
    /*font-family: Georgia, serif;*/
}
